@use "variables" as var;
@use "base/mixins" as mix;

/*! ============ GLOBALS ============ */
/** Imports **/
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: var.$fw-normal;
  src: url(build/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(build/fonts/MaterialIcons-Regular.woff2) format("woff2"),
    url(build/fonts/MaterialIcons-Regular.woff) format("woff"),
    url(build/fonts/MaterialIcons-Regular.ttf) format("truetype");
}

/** Tags **/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-width: var.$mobile-xs;
  color: var.$body-pri-color;
  background-color: var.$body-pri-bgcolor;
  font-family: var.$font-primary;
  font-size: var.$fs-normal-mob;
  @include mix.desktop {
    font-size: var.$fs-normal-desk;
  }
}

p {
  color: var.$body-pri-color;
  font-size: var.$fs-normal-mob;
  line-height: 1.4rem;
  @include mix.desktop {
    font-size: var.$fs-normal-desk;
  }
}

h1,
h2,
h3 {
  color: var.$secondary;
  font-family: var.$font-secondary;
  font-weight: var.$fw-medium;
  margin: 0 0 calc(var.$padding-mob / 2) 0;
  @include mix.desktop {
    margin: 0 0 calc(var.$padding-desk / 2) 0;
  }
}
h1 {
  color: var.$secondary-dark;
  font-size: var.$fs-h1-mob;
  font-weight: var.$fw-bold;
  @include mix.desktop {
    font-size: var.$fs-h1-desk;
  }
}
h2 {
  font-size: var.$fs-h2-mob;
  @include mix.desktop {
    font-size: var.$fs-h2-desk;
  }
}
h3 {
  font-size: var.$fs-h3-mob;
  @include mix.desktop {
    font-size: var.$fs-h3-desk;
  }
}

strong {
  color: var.$secondary-dark;
  font-family: var.$font-secondary;
  font-weight: var.$fw-medium;
}

span.material-icons {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  list-style: none;
}

a {
  color: var.$black;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/** Classes **/
.main {
  overflow: hidden;
}
.container,
*[class*="__container"] {
  width: 95%;
  max-width: var.$tablet;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: calc(var.$padding-mob * 2.5) 0 calc(var.$padding-mob / 2);
  &:nth-child(1) {
    padding-top: var.$padding-mob;
  }
  @include mix.desktop {
    padding: calc(var.$padding-desk * 2) 0 calc(var.$padding-desk / 2);
    &:nth-child(1) {
      padding-top: var.$padding-desk;
    }
  }
}
.section__title,
.section__subtitle {
  text-align: center;
}
.section__title {
  @include mix.headingLinearGradient(right, var.$secondary-dark, var.$primary);
  font-size: var.$fs-h1-mob;
  margin-bottom: calc(var.$padding-mob / 3);
  @include mix.desktop {
    font-size: var.$fs-h1-desk;
    margin-bottom: calc(var.$padding-desk / 3);
  }
}
.section__subtitle {
  display: block;
  color: var.$secondary;
  font-size: var.$fs-normal-mob;
  font-weight: var.$fw-medium;
  margin-bottom: var.$padding-mob;
  @include mix.desktop {
    font-size: var.$fs-normal-desk;
    margin-bottom: var.$padding-desk;
  }
}

.content__title {
  font-size: var.$fs-h3-mob;
  font-weight: var.$fw-medium;
  line-height: 1.35rem;
  margin-bottom: calc(var.$padding-mob / 4);
  @include mix.desktop {
    font-size: var.$fs-h3-desk;
    margin-bottom: calc(var.$padding-desk / 4);
  }
}
.content__subtitle {
  color: var.$gray;
  font-size: var.$fs-small-mob;
  line-height: 1.25rem;
  @include mix.desktop {
    font-size: var.$fs-small-desk;
  }
}
