@use "variables" as var;
@use "base/mixins" as mix;

/*! ============ UTILITIES ============ */
/** Material Icons **/
.material-icons {
  display: inline-block;
  color: var.$primary;
  font-family: "Material Icons";
  font-weight: var.$fw-normal;
  font-style: normal;
  font-size: var.$icon-size-md;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  transition: 0.3s;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";

  &--title {
    font-size: var.$icon-size-lg;
  }

  @include mix.desktop {
    font-size: var.$icon-size-lg;
    &--title {
      font-size: var.$icon-size-xl;
    }
  }
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/** Text **/
.text-center {
  text-align: center;
}

/** Buttons **/
.button {
  @include mix.button(var.$primary, var.$white);
}

/** Modal **/
.modal-active {
  visibility: visible !important;
  opacity: 1 !important;
}

/** Scroll **/
// Scroll-button
.scrollup {
  position: fixed;
  right: calc(var.$padding-mob / 2);
  bottom: -20%;
  background-color: var.$link-color;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  opacity: 0.8;
  z-index: var.$z-tootlip;
  transition: 0.4s;
  @include mix.desktop {
    right: calc(var.$padding-desk/ 2);
  }

  &:hover {
    background-color: var.$link-hover-color;
  }

  &-show {
    bottom: 7.5rem;
    @include mix.tablet {
      bottom: 5rem;
    }
    @include mix.desktop {
      bottom: 2rem;
    }
  }

  &__icon {
    color: var.$white;
    padding: 0.5rem 0.25rem;
  }
}

// Scroll-bar
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var.$scroll-bar-color;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var.$scroll-bar-thumb-color;
  border-radius: 0.5rem;
  &:hover {
    background-color: var.$scroll-bar-thumb-hover-color;
  }
}
