@use "base/variables" as var;
@use "base/mixins" as mix;

/*! ============ ABOUT ============ */
.about {
  &__img {
    @include mix.imageFrame(280px);
  }

  &__description {
    margin-bottom: 2rem;
    text-align: center;
  }

  &__info {
    @include mix.flexRow(space-evenly, 0);
    margin-bottom: 2.5rem;

    &-title,
    &-name {
      display: block;
      text-align: center;
    }

    &-title {
      color: var.$secondary;
      font-size: var.$fs-h2-mob;
      font-weight: var.$fw-medium;
      @include mix.desktop {
        font-size: var.$fs-h2-desk;
      }
    }

    &-name {
      font-size: var.$fs-smaller-mob;
      @include mix.desktop {
        font-size: var.$fs-smaller-desk;
      }
    }
  }

  &__buttons {
    @include mix.flexRow(center, 0);
  }
}
