@use "base/variables" as var;
@use "base/mixins" as mix;

/*! ============ ABOUT ============ */
.about {
  &__container {
    gap: var.$padding-mob;
    @include mix.desktop {
      gap: var.$padding-desk;
    }
  }

  &__img {
    @include mix.imageFrame(280px);
  }

  &__info {
    @include mix.gridColumns(1, calc(var.$padding-mob / 2));

    @include mix.mobile-xs {
      @include mix.gridColumns(2, calc(var.$padding-mob / 2));
    }
    @include mix.mobile {
      @include mix.gridColumns(3, calc(var.$padding-mob / 2));
    }

    &-card {
      @include mix.flexColumn(center, 0.5rem);
      @include mix.card(var.$gray-light);
      max-width: 30rem;
      padding: 1.5rem;
      text-align: center;
    }

    &-title {
      color: var.$secondary;
      font-size: var.$fs-h2-mob;
      font-weight: var.$fw-medium;
      margin: 0;
      @include mix.desktop {
        font-size: var.$fs-h2-desk;
      }
    }
  }

  &__description {
    margin: var.$padding-mob auto;
    max-width: 30rem;

    @include mix.desktop {
      margin: var.$padding-desk 0;
    }
  }

  &__btns {
    @include mix.flexRow(center, 0);
  }
}
