@use "base/variables" as var;
@use "base/mixins" as mix;

/*! ============ SKILLS ============ */
.contact {
  &__container {
    gap: var.$padding-mob;

    @include mix.desktop {
      grid-template-columns: 1fr 2fr;
      gap: var.$padding-desk;
    }
  }

  &__infos {
    @include mix.gridColumns(1, calc(var.$padding-mob / 2));
    margin: 0 auto;

    @include mix.mobile-xs {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mix.tablet {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mix.desktop {
      grid-template-columns: repeat(1, 1fr);
      margin: auto 1rem;
      margin-top: 0;
    }
  }
  &__info {
    @include mix.flexColumn(space-evenly, 0.5rem);
    @include mix.card(var.$gray-light);
    padding: calc(var.$padding-mob / 3);

    @include mix.desktop {
      padding: calc(var.$padding-desk / 3);
    }
  }
  &__title {
    margin: 0;
  }

  &__content {
    background-color: var.$input-color;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem 0.25rem;
  }
  &__label {
    color: var.$title-color;
    font-size: var.$fs-small-mob;
    font-weight: var.$fw-bold;
    @include mix.desktop {
      font-size: var.$fs-small-desk;
    }
  }
  &__input {
    width: 100%;
    background-color: var.$input-color;
    color: var.$body-sec-color;
    font-family: var.$font-primary;
    font-size: var.$fs-normal-mob;
    border: none;
    outline: none;
    padding: 0.25rem 0.5rem 0.5rem 0;
    @include mix.desktop {
      font-size: var.$fs-normal-desk;
    }
  }
}
