@use "base/variables" as var;
@use "base/mixins" as mix;

/*! ============ SKILLS ============ */
.footer {
  margin-top: var.$padding;

  &__bg {
    padding: var.$padding 0;
    background-color: var.$body-third-bgcolor;
  }

  &__container {
    row-gap: var.$padding;
  }

  &__title {
    font-size: var.$fs-h1;
    margin-bottom: calc(var.$padding / 8);
  }
  &__subtitle {
    color: var.$secondary-dark;
    font-size: var.$fs-small;
    font-weight: var.$fw-medium;
  }

  &__links {
    @include mix.flexColumn(flex-start, 1.5rem);
    align-items: flex-start;
  }
  &__link {
    &:hover {
      color: var.$gray-light;
    }
  }

  &__socials {
    @include mix.flexRow(flex-start, 0.5rem);
  }
  &__social {
    font-size: var.$fs-h3;
    margin-right: calc(var.$padding * (3 / 4));
    &:hover {
      color: var.$gray-light;
    }
    img {
      width: var.$icon-size-md;
    }
  }

  &__copy {
    font-size: var.$fs-smaller;
    text-align: center;
    margin-top: var.$padding;
  }

  &__title,
  &__link,
  &__social {
    color: var.$body-sec-color;
  }
}
