@use "base/variables" as var;
@use "base/mixins" as mix;

/*! ============ SKILLS ============ */
.footer {
  margin-top: var.$padding-mob;

  @include mix.desktop {
    margin-top: var.$padding-desk;
  }

  &__bg {
    background-color: var.$body-third-bgcolor;
    padding: var.$padding-mob 0;

    @include mix.desktop {
      padding: var.$padding-desk 0;
    }
  }

  &__container {
    row-gap: var.$padding-mob;

    @include mix.desktop {
      row-gap: var.$padding-desk;
    }
  }

  &__title {
    font-size: var.$fs-h1-mob;
    margin-bottom: calc(var.$padding-mob / 8);

    @include mix.desktop {
      font-size: var.$fs-h1-desk;
      margin-bottom: calc(var.$padding-desk / 8);
    }
  }
  &__subtitle {
    color: var.$secondary-lighter;
    font-size: var.$fs-small-mob;
    font-weight: var.$fw-medium;
    letter-spacing: 0.1rem;

    @include mix.desktop {
      font-size: var.$fs-small-desk;
    }
  }

  &__links {
    @include mix.flexColumn(flex-start, 1.5rem);
    align-items: flex-start;
  }
  &__link {
    &:hover {
      color: var.$gray-light;
    }
  }

  &__socials {
    @include mix.flexRow(flex-start, 0.5rem);
  }
  &__social {
    font-size: var.$fs-h3-mob;
    margin-right: calc(var.$padding-mob * (3 / 4));

    @include mix.desktop {
      font-size: var.$fs-h3-desk;
      margin-right: calc(var.$padding-desk * (3 / 4));
    }

    &:hover {
      color: var.$gray-light;
    }

    img {
      width: var.$icon-size-md;
    }
  }

  &__copy {
    background-color: var.$primary-light;
    color: var.$white;
    font-size: var.$fs-smaller-mob;
    text-align: center;
    padding: calc(var.$padding-mob / 2 ) 0;

    @include mix.desktop {
      font-size: var.$fs-smaller-desk;
      padding: calc(var.$padding-desk / 2 ) 0;
    }
  }

  &__title,
  &__link,
  &__social {
    color: var.$body-third-color;
  }
}
