@use "base/variables" as var;
@use "base/mixins" as mix;

/*! ============ HOME ============ */
.home {
  &__container {
    display: grid;
    grid-template-rows: 1.5fr 2fr;
    gap: calc(var.$padding-mob / 2);

    @include mix.mobile-xs {
      grid-template-rows: 2fr 1.5fr;
      gap: var.$padding-mob;
    }

    @include mix.desktop {
      grid-template-rows: unset;
      @include mix.gridColumns(2, var.$padding-desk);
    }
  }

  &__content-socperfil {
    @include mix.flexRows(center, var.$padding-mob);
    align-items: center;

    @include mix.desktop {
      @include mix.flexRows(flex-end, var.$padding-desk);
    }
  }
  &__socials {
    @include mix.flexColumns(center, 1rem);

    &-icon {
      color: var.$secondary;
      font-size: 1.25rem;
      transition: 0.3s;

      &:hover {
        transform: translateX(0.25rem);
      }
    }

    &-link {
      width: var.$icon-size-xl;
    }
  }
  &__img {
    &-container {
      display: flex;
      max-width: 12rem;

      @include mix.mobile-xs {
        max-width: 20rem;
      }
    }
  }

  &__title,
  &__subtitle,
  &__btns {
    text-align: center;

    @include mix.desktop {
      text-align: left;
    }
  }
  &__title {
    font-size: var.$fs-big-mob;
    margin-bottom: calc(var.$padding-mob / 3);

    @include mix.desktop {
      font-size: var.$fs-big-desk;
      margin-bottom: calc(var.$padding-desk / 3);
    }
  }
  &__subtitle {
    font-size: var.$fs-h3-mob;
    font-weight: var.$fw-medium;
    margin-bottom: calc(var.$padding-mob / 3);

    @include mix.desktop {
      font-size: var.$fs-h3-desk;
      margin-bottom: calc(var.$padding-desk / 3);
    }
  }
  &__description {
    @include mix.desktop {
      max-width: 30rem;
    }
  }
}
