@use "base/variables" as var;
@use "base/mixins" as mix;

/*! ============ SKILLS ============ */
.qualification {
  &__tabs {
    @include mix.flexRow(space-evenly, 0);
    margin-bottom: var.$padding-mob;

    @include mix.desktop {
      margin-bottom: calc(var.$padding-desk * (3 / 4));
    }
  }
  &__button {
    @include mix.flexColumn(center, 0.25rem);
    width: 50%;
    padding: 0.5rem;
    background-color: var.$gray-light;
    color: var.$primary;
    font-size: var.$fs-h3-mob;
    font-weight: var.$fw-medium;
    border: unset;
    border: 1px solid var.$gray-light;
    border-top-width: 0.25rem;
    border-bottom-color: var.$gray;
    cursor: pointer;
    transition: 0.3s;

    @include mix.desktop {
      font-size: var.$fs-h3-desk;
    }

    &:hover {
      font-style: italic;
    }

    &.qualification__active {
      background-color: var.$body-pri-bgcolor;
      border-top-color: var.$primary;
      border-left-color: var.$gray;
      border-right-color: var.$gray;
      border-bottom-color: var.$body-pri-bgcolor;
    }
  }
  &__icon {
    margin-right: 0.5rem;

    &-calendar {
      color: var.$gray;
    }
  }

  &__content[data-content] {
    display: none;
  }
  &__active[data-content] {
    display: block;
  }
  &__row {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    transition: .3s;

    &:nth-child(odd) {
      .qualification__data {
        text-align: right;    
      }
      .qualification__calendar {
        justify-content: flex-end;    
      }
    }

    &:hover .qualification__rounder {
      position: relative;
      background: radial-gradient(
        circle,
        var.$secondary 0%,
        var.$secondary 50%,
        var.$primary 100%
      );
      z-index: 1;
    }
  }
  &__title {
    font-size: var.$fs-normal-mob;

    @include mix.desktop {
      font-size: var.$fs-normal-desk;
    }
  }
  &__subtitle {
    display: inline-block;
    color: var.$black;
    margin-bottom: 1rem;
  }
  &__calendar {
    display: flex;
    align-items: center;
    color: var.$gray;
    font-size: var.$fs-smaller-mob;

    @include mix.desktop {
      font-size: var.$fs-smaller-desk;
    }
  }
  &__rounder {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: radial-gradient(
      circle,
      var.$primary 0%,
      var.$primary 50%,
      var.$secondary 100%
    );
    border-radius: 50%;
  }
  &__line {
    display: block;
    width: 2px;
    height: 100%;
    background-color: var.$primary;
    transform: translate(7px, -7px);

    &--final {
      display: block;
      width: 2px;
      height: 50%;
      background-color: var.$primary;
      transform: translate(7px, -4px);
    }
  }
}
