@use "base/variables" as var;
@use "base/mixins" as mix;

/*! ============ SKILLS ============ */
.services {
  &__container {
    @include mix.mobile {
      grid-template-columns: repeat(2, 1fr); 
    }
  }

  &__content {
    @include mix.card(var.$gray-light);
  }

  &__data {
    @include mix.flexRows(flex-start, 1rem);
  }

  &__icon,
  &__title {
    margin-bottom: calc(var.$padding-mob / 2);

    @include mix.desktop {
      margin-bottom: calc(var.$padding-desk / 2);
    }

    span {
      display: inline-block;
    }
  }
  &__icon {
    display: block;
  }

  &__button {
    display: block;
    text-align: right;
    margin-right: 1rem;
    font-size: var.$fs-small-mob;

    @include mix.desktop {
      font-size: var.$fs-small-desk;
    }
  }

  &__modal {
    @include mix.modal;
    @include mix.modalContent;
  }
}
