@use "base/variables" as var;
@use "base/mixins" as mix;

/*! ============ SKILLS ============ */
.services {
  &__container {
    @include mix.mobile {
      grid-template-columns: repeat(2, 1fr); 
    }
  }

  &__content {
    @include mix.card(var.$gray-light);
  }

  &__data {
    @include mix.flexRow(flex-start, 1rem);
  }

  &__icon,
  &__title {
    margin-bottom: calc(var.$padding-mob / 2);

    @include mix.desktop {
      margin-bottom: calc(var.$padding-desk / 2);
    }

    span {
      display: inline-block;
    }
  }
  &__icon {
    display: block;
  }

  &__button {
    display: block;
    text-align: right;
    margin-right: 1rem;
    font-size: var.$fs-small-mob;

    @include mix.desktop {
      font-size: var.$fs-small-desk;
    }
  }

  &__modal {
    @include mix.modal;
    visibility: hidden;
    opacity: 0;

    &-content {
      position: relative;
      background-color: var.$gray-light;
      padding: 1.5rem;
      border-radius: 0.5rem;
    }

    &-data {
      @include mix.flexRow(center, 1rem);
      margin-top: 1rem;

      .services__icon {
        margin: 0;
      }
    }
    &-title {
      font-size: var.$fs-h3-mob;

      @include mix.desktop {
        font-size: var.$fs-h3-desk;
      }
    }
    &-close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: var.$primary;
      font-size: var.$fs-h2-mob;
      font-weight: var.$fw-medium;
      cursor: pointer;

      @include mix.desktop {
        font-size: var.$fs-h2-desk;
      }
    }

    &-desc {
      margin: 1.5rem auto 2rem;
      max-width: 30rem;
      text-align: center;

      @include mix.desktop {
        max-width: 35rem;
      }
    }

    &-list {
      row-gap: 1rem;
    }
    &-item {
      @include mix.flexRow(flex-start, 0);
    }
    &-icon {
      color: var.$green;
      margin-right: 0.5rem;
    }
  }

  // Utilities
  .active-modal {
    visibility: visible;
    opacity: 1;
  }
}
