@use "base/variables" as var;
@use "base/mixins" as mix;

/*! ============ SKILLS ============ */
.skills {
  &__container {
    row-gap: 0.25rem;
  }

  &__header {
    @include mix.flexRows(center, 0.25rem);
    @include mix.card(var.$gray-light, var.$primary);
    margin-bottom: calc(var.$padding-mob * (3 / 4));
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.3s;

    @include mix.desktop {
      padding: 0.75rem;
    }
  }
  &__icon {
    margin-right: 1rem;
    &-arrow {
      margin-left: auto;
      margin-right: 0;
    }
  }
  &__title {
    font-weight: var.$fw-bold;
  }

  &__list {
    transition: 0.5s;
  }
  &__titles {
    @include mix.flexRows(space-between, 0.25rem);
    margin-bottom: calc(var.$padding-mob / 8);
    padding: 0.5rem;

    @include mix.desktop {
      margin-bottom: calc(var.$padding-desk / 8);
      padding: 0.75rem;
    }
  }
  &__name {
    margin: 0 0 0 0.5rem;
    font-size: var.$fs-normal-mob;
    font-weight: var.$fw-normal;

    @include mix.desktop {
      font-size: var.$fs-normal-desk;
    }
  }

  &__bar,
  &__percentage {
    height: 0.5rem;
    border-radius: 0.25rem;
  }
  &__bar {
    background-color: var.$primary-light;
  }
  &__percentage {
    display: block;
    background-color: var.$primary-dark;
  }

  &__figma {
    width: 10%;
  }
  &__gimp {
    width: 85%;
  }
  &__sketch {
    width: 80%;
  }

  &__html {
    width: 85%;
  }
  &__css {
    width: 90%;
  }
  &__js {
    width: 75%;
  }
  &__ang {
    width: 60%;
  }

  &__java {
    width: 75%;
  }
  &__spboot {
    width: 60%;
  }
  &__node {
    width: 20%;
  }
  &__fibase {
    width: 15%;
  }
}

// Utilities
.skills__open {
  .skills__list {
    height: max-content;
    margin-bottom: var.$padding-mob;
    box-shadow: 0 3px 1px rgb(0 0 0 / 35%);
    border-radius: 0.5rem;
    opacity: 1;

    @include mix.desktop {
      margin-bottom: var.$padding-desk;
    }
  }
  .skills__icon-arrow {
    transform: rotate(-180deg);
  }
}
.skills__close {
  .skills__list {
    height: 0;
    overflow: hidden;
    opacity: 0;
  }
}
