@use "base/variables" as var;
@use "base/mixins" as mix;

/*! ============ SKILLS ============ */
.testimonials {
  &__container {
    @include mix.gridColumns(1, 0.5rem);

    @include mix.tablet {
      @include mix.gridColumns(2, 1rem);
    }
  }

  &__data {
    @include mix.flexRows(space-between);
    margin: calc(var.$padding-mob / 4) calc(var.$padding-mob / 3) calc(var.$padding-mob / 2);

    @include mix.desktop {
      margin: calc(var.$padding-desk / 4) calc(var.$padding-desk / 3) calc(var.$padding-desk / 2);
    }
  }

  &__header {
    @include mix.flexRows(flex-start, 1rem);
  }
  
  &__img {
    &-container {
      background-color: var.$body-pri-bgcolor;
      overflow: hidden;
      border-radius: 50%;
    }
    &-image {
      @include mix.imageObjectFit(4rem);
    }
  }

  &__icon-star {
    color: var.$secondary;
  }

  &__description {
    margin: calc(var.$padding-mob / 3) 0;

    @include mix.desktop {
      margin: calc(var.$padding-desk / 3) 0;
    }
  }
}
