@use "base/variables" as var;
@use "base/mixins" as mix;

/*! ============ SKILLS ============ */
.testimonials {
  &__data {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(var.$padding-mob / 2);
    @include mix.desktop {
      margin-bottom: calc(var.$padding-desk / 2);
    }
  }

  &__header {
    display: flex;
  }
  &__img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: calc(var.$padding-mob / 3);
    @include mix.desktop {
      margin-right: calc(var.$padding-desk / 3);
    }
  }

  &__icon-star {
    color: var.$secondary;
  }

  &__description {
    margin-bottom: var.$padding-mob;
    @include mix.desktop {
      margin-bottom: var.$padding-desk;
    }
  }
}
